.contact-main-div {
  background-color: var(--dark-purple);
  padding-bottom: 10rem;
}
.contact-h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.contact-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 5rem;
}
.form-container {
  padding-left: 4rem;
}
.contact-img {
  height: 30rem;
}
